DATABASE_URL="postgresql://USER:PASSWORD@HOST/DB?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST/DB?sslmode=require&channel_binding=require"
PORT=3333
JWT_SECRET="seu_segredo_aqui"
JWT_EXPIRES_IN="7d"
JWT_ADMIN_SECRET="seu_segredo_admin_aqui"
JWT_ADMIN_EXPIRES_IN="1d"
NODE_ENV="development"

# Mailtrap / SMTP
SMTP_HOST="sandbox.smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_SECURE=false
SMTP_USER="32000617d36f25"
SMTP_PASS="2774a43b9a954d"
MAIL_FROM="Brotou <no-reply@brotou.app>"
